#from1{
    background-color: aliceblue;
    padding: 30px 10px 10px 10px;
    
}
h3{
    color: deeppink;
    text-align: left;
}
p{
    text-align: center;
    font-size: 40;
    color: brown;
    
}
*{
    width: 100%;
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    
    
    
}
#a{
    max-width: 150px;
    
    
}
#btn{
    max-width: 80px;
}