
.form {
    width: 300px;
    border: 1px solid green;
    padding: 20px;
    margin: 0 auto;
    font-weight: 700px;
   }
.form input {
    width: 100%;
    padding: 10px 0;
    background-color: ;
   }
.dk input {
    background-color: rgb(17, 139, 139);
}

    #img_div{
    padding: 5px;
    border: 1px solid #cbcbcb;
    float: left
    }
    #img_div:after{
    content: "";
    display: block;
    clear: both;
    }
    #img_div img{
    float: left;
    margin: 5px;
    width: 400px;
    height: auto;
    }
    